<app-menu></app-menu>

<ion-grid style="width:100%;">
  <ion-row>
    <ion-col>
      <ion-grid style="height:780px">
        <ion-row>
          <ion-col style="border:none">
            <ion-button color="secondary" shape="round" id="trigger-button" size="large">Edit</ion-button>
          </ion-col>
          <ion-col style="border:none">
            <ion-button color="danger" shape="round" (click)="switchReady()" *ngIf="!ready" size="large">Not ready
            </ion-button>
            <ion-button color="success" shape="round" (click)="switchReady()" *ngIf="ready" size="large">Ready
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col>
      <ion-grid id="grid">
        <ion-row>
          <ion-col>\</ion-col>
          <ion-col>A</ion-col>
          <ion-col>B</ion-col>
          <ion-col>C</ion-col>
          <ion-col>D</ion-col>
          <ion-col>E</ion-col>
          <ion-col>F</ion-col>
          <ion-col>G</ion-col>
          <ion-col>H</ion-col>
          <ion-col>I</ion-col>
          <ion-col>J</ion-col>
        </ion-row>
        <div *ngFor="let el of [1,2,3,4,5,6,7,8,9,10]">
          <ion-row>
            <ion-col>{{el}}</ion-col>
            <ion-col *ngFor="let letter of ['A','B','C','D','E','F','G','H','I','J']">
              <div *ngIf="matrix[el-1][opMatrix.letterToNum(letter)]!== 0">
                <ion-img
                  alt=""
                  [src]="'../../assets/pics/spaceship_pieces/piece_'+ matrix[el-1][opMatrix.letterToNum(letter)].name.toLowerCase() + '.png'"
                  [class]="matrix[el-1][opMatrix.letterToNum(letter)].direction"
                  class="imgInGrid">
                </ion-img>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-modal id="modal" trigger="trigger-button" (ionModalWillDismiss)="closeModal()">
  <ng-template>
    <app-deck-selection></app-deck-selection>
  </ng-template>
</ion-modal>
