<ion-content>
  <ion-grid id="grid">

    <ion-row>
      <ion-segment value="1">
        <ion-segment-button value="1" (click)="switch(1)">Connexion</ion-segment-button>
        <ion-segment-button value="0" (click)="switch(0)">Inscription</ion-segment-button>
      </ion-segment>
    </ion-row>

    <div *ngIf="exists===0">
      <div *ngIf="displayToken===0"> <!-- ////////////////////// INPUT INSCRIPTION //////////////////////-->
        <ion-row>
          <ion-col><h1>Inscripton :</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item color="none" shape="round">
              <ion-label color="secondary" position="floating">Nickname</ion-label>
              <ion-input clearInput="true" color="secondary" placeholder="Nickname" showCancelButton="always" (keyup)="updateSignUp($event)" [(ngModel)]="iname" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item color="none" shape="round">
              <ion-label color="secondary" position="floating">Password</ion-label>
              <ion-input class="pass" clearInput="true" color="secondary" placeholder="Password" (keyup)="updateSignUp($event)" [(ngModel)]="ipassword" [type]="showPassword ? 'password' : 'text'"></ion-input>
              <ion-icon name="eye" slot="end" (click)="showPass()" *ngIf="showPassword"></ion-icon>
              <ion-icon name="eye-off" slot="end" (click)="showPass()" *ngIf="!showPassword"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item color="none" shape="round">
              <ion-label color="secondary" position="floating">Confirm password</ion-label>
              <ion-input class="pass" clearInput="true" color="secondary" placeholder="Confirm password" (keyup)="updateSignUp($event)" [(ngModel)]="confPassword" [type]="showPassword ? 'password' : 'text'"></ion-input>
              <ion-icon name="eye" slot="end" (click)="showPass()" *ngIf="showPassword"></ion-icon>
              <ion-icon name="eye-off" slot="end" (click)="showPass()" *ngIf="!showPassword"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item color="none" shape="round">
              <ion-label color="secondary" position="floating">Email</ion-label>
              <ion-input clearInput="true" color="secondary" placeholder="Mail" (keyup)="updateSignUp($event)" [(ngModel)]="imail" type="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="reset()">Reset</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="signUp()">Submit</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="exists===1"> <!-- ////////////////////// INPUT INSCRIPTION //////////////////////-->
      <ion-row>
        <ion-col><h1>Connexion :</h1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="none" shape="round">
            <ion-label color="secondary" position="floating">Nickname or email</ion-label>
            <ion-input clearInput="true" color="secondary" placeholder="Nickname or email" (keyup)="updateSignIn($event)" [(ngModel)]="cname" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="none" shape="round">
            <ion-label color="secondary" position="floating">Password</ion-label>
            <ion-input class="pass" clearInput="true" color="secondary" placeholder="Password" (keyup)="updateSignIn($event)" [(ngModel)]="cpassword" [type]="showPassword ? 'password' : 'text'"></ion-input>
            <ion-icon name="eye" slot="end" (click)="showPass()" *ngIf="showPassword"></ion-icon>
            <ion-icon name="eye-off" slot="end" (click)="showPass()" *ngIf="!showPassword"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="reset()">Reset</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="signIn(this.cname, this.cpassword)">Submit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="sendPassword()">Forgot password</ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="exists===2"> <!-- ////////////////////// INPUT RESET PASSWORD //////////////////////-->
      <ion-row>
        <ion-col>
          <ion-item color="none" shape="round">
            <ion-label color="secondary" position="floating">Email</ion-label>
            <ion-input clearInput="true" color="secondary" placeholder="Email" (keyup)="updateResetPassword($event)" [(ngModel)]="recupMail" type="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="backToLogin()">Back to login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="resetPassword()">Submit</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <ion-row><ion-col><p>{{output}}</p></ion-col></ion-row>

  </ion-grid>


</ion-content>
