<ion-grid>
  <ion-row>
    <ion-col>
      <p>Reset password for {{username}} ({{mail}})</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">New password</ion-label>
        <ion-input class="pass" clearInput="true" color="secondary" placeholder="Password" (keyup)="updateReset($event)" [(ngModel)]="password" [type]="showPassword ? 'password' : 'text'"></ion-input>
        <ion-icon name="eye" slot="end" (click)="showPass()" *ngIf="showPassword"></ion-icon>
        <ion-icon name="eye-off" slot="end" (click)="showPass()" *ngIf="!showPassword"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Confirm new password</ion-label>
        <ion-input class="pass" clearInput="true" color="secondary" placeholder="Confirm password" (keyup)="updateReset($event)" [(ngModel)]="confPassword" [type]="showPassword ? 'password' : 'text'"></ion-input>
        <ion-icon name="eye" slot="end" (click)="showPass()" *ngIf="showPassword"></ion-icon>
        <ion-icon name="eye-off" slot="end" (click)="showPass()" *ngIf="!showPassword"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="submitReset()">Submit</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="toLogin()">Back to login</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      {{output}}
    </ion-col>
  </ion-row>

</ion-grid>
