<app-menu></app-menu>

      <div id="target"><div>

        <h1>An 19023</h1>


        Les guerres spatiales font rage, de nombreuses factions se font face afin de contrôler des planètes, des ressources voire d’autres races.
        Ces batailles affreuses se multiplient et cinq clans majeurs se démarquent des autres :

        <h1>Les Humains:</h1>

        Race au début sous-estimée par la plupart des autres clans, ils ont su se démarquer grâce à leurs progrès technologiques qui égalent ceux des meilleurs, leur objectif est de trouver une nouvelle planète, étant donné que cette dernière est sur le point de disparaître. Pour eux la victoire est primordiale même si ce clan ne cherche qu’une nouvelle maison.

        <h1>Le Collectif Vyrkul :</h1>

        Aussi connus comme étant les destructeurs de monde, leur objectif est simple : détruire.
        Que ce soient des planètes, des ressources ou des êtres vivants, la destruction est leur raison d’être. Vivant autrefois en paix et éloignés des conflits sur leur planète, les Vyrkul furent presque annihilés par la République Enkar . Depuis ce tragique jour, ils ne sèment que la destruction sur leur passage jusqu’à avoir retrouvé leur bourreau.

        <h1>La République Enkar:</h1>

        Obéis et sers est leur devise.
        Allant de planète en planète afin de conquérir les êtres vivants les occupants, ils protègent mais transforment en esclaves ceux qui acceptent de leur obéir, et pour ceux qui essayent de leur faire face, c’est la mort. Pour l’instant, ils ont gagné toutes leurs batailles et règnent sur de nombreuses planètes.

        <h1>Le Matriarchat Sunari :</h1>

        Clan religieux, ils ne croient qu’en leur déesse : Sunari.
        Ils voyagent de planète en planète en prêchant la bonne foi de Sunari, offrant une place dans leur clan aux croyants et en prison pour les impies.
        Mais la vérité est toujours derrière un masque, Sunari n’est nul autre que la cheffe de ce clan et profite de la naïveté de ses croyants afin de piller et mener de nombreuses guerres afin de satisfaire son égo.


        <h1>L’Enclave Arash :</h1>

        Pour eux, leur planète est un cadeau des dieux. Cependant le manque de ressources les force à aller se servir sur d’autres planètes.
        Favorisant la paix à la guerre, ils préfèrent régler leurs problèmes par la parole plutôt que par les armes mais ils restent cependant de terrifiants adversaires.

        Choisissez votre clan et battez-vous pour vos valeurs !
        Bonne Chance…

      </div></div>
