<app-menu></app-menu>

<ion-grid>
  <ion-row>
    <ion-col>\</ion-col>
    <ion-col>A</ion-col>
    <ion-col>B</ion-col>
    <ion-col>C</ion-col>
    <ion-col>D</ion-col>
    <ion-col>E</ion-col>
    <ion-col>F</ion-col>
    <ion-col>G</ion-col>
    <ion-col>H</ion-col>
    <ion-col>I</ion-col>
    <ion-col>J</ion-col>
  </ion-row>
  <div *ngFor="let el of [1,2,3,4,5,6,7,8,9,10]">
    <ion-row>
      <ion-col>{{el}}</ion-col>
      <div *ngFor="let letter of ['A','B','C','D','E','F','G','H','I','J']">
        <ion-col mwlDroppable
                 (drop)="onDrop($event.dropData, letter, el)"
                 dragOverClass="drop-over-active">
        </ion-col>
      </div>
    </ion-row>
  </div>
</ion-grid>

  <div style="border: 1px white solid"
    mwlDraggable
    dropData="bar"
    dragActiveClass="drag-active"
    [dragSnapGrid]="{ x: 40, y: 40 }">
    <img src="../../assets/pics/spaceship_blue_1.png">
  </div>
