#grid ion-col{
  width:70px;
  height:70px;
  text-align:center;
}

#grid {
  width:780px;
}

ion-col{
  border: solid 1px white;
}

[mwlDraggable] {
  display:inline-block;
  z-index: 2;
  cursor: move;
  border: 1px white solid;
  width:auto;
  height:auto;
}

[mwlDroppable] {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected{
  border: solid 5px white;
}
