<app-menu></app-menu>
<!--sert de règles-->
<ion-grid>
  <img src="./assets/logo/SBS1.png" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Objectif</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Comme un jeu de bataille navale classique, le but de Star Battleship est de détruire tous les vaisseaux adverses, pour ce faire vous devrez créer un deck :<br>
      c'est-à-dire de choisir un clan et de placer les vaisseaux liés à celui-ci.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Comment gagner une partie de bataille navale</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Une partie de bataille navale se termine lorsque l’un des joueurs n’a plus de navire.
    </ion-card-content>
  </ion-card>
</ion-grid>
