<ion-grid>
        <ion-row>
          <ion-col class="case-num"> \</ion-col>
          <ion-col class="case-num">A</ion-col>
          <ion-col class="case-num">B</ion-col>
          <ion-col class="case-num">C</ion-col>
          <ion-col class="case-num">D</ion-col>
          <ion-col class="case-num">E</ion-col>
          <ion-col class="case-num">F</ion-col>
          <ion-col class="case-num">G</ion-col>
          <ion-col class="case-num">H</ion-col>
          <ion-col class="case-num">I</ion-col>
          <ion-col class="case-num">J</ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">1</ion-col>
          <ion-col class="case" id="a1"></ion-col>
          <ion-col class="case" id="b1"></ion-col>
          <ion-col class="case" id="c1"></ion-col>
          <ion-col class="case" id="d1"></ion-col>
          <ion-col class="case" id="e1"></ion-col>
          <ion-col class="case" id="f1"></ion-col>
          <ion-col class="case" id="g1"></ion-col>
          <ion-col class="case" id="h1"></ion-col>
          <ion-col class="case" id="i1"></ion-col>
          <ion-col class="case" id="j1"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">2</ion-col>
          <ion-col class="case" id="a2"></ion-col>
          <ion-col class="case" id="b2"></ion-col>
          <ion-col class="case" id="c2"></ion-col>
          <ion-col class="case" id="d2"></ion-col>
          <ion-col class="case" id="e2"></ion-col>
          <ion-col class="case" id="f2"></ion-col>
          <ion-col class="case" id="g2"></ion-col>
          <ion-col class="case" id="h2"></ion-col>
          <ion-col class="case" id="i2"></ion-col>
          <ion-col class="case" id="j2"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">3</ion-col>
          <ion-col class="case" id="a3"></ion-col>
          <ion-col class="case" id="b3"></ion-col>
          <ion-col class="case" id="c3"></ion-col>
          <ion-col class="case" id="d3"></ion-col>
          <ion-col class="case" id="e3"></ion-col>
          <ion-col class="case" id="f3"></ion-col>
          <ion-col class="case" id="g3"></ion-col>
          <ion-col class="case" id="h3"></ion-col>
          <ion-col class="case" id="i3"></ion-col>
          <ion-col class="case" id="j3"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">4</ion-col>
          <ion-col class="case" id="a4"></ion-col>
          <ion-col class="case" id="b4"></ion-col>
          <ion-col class="case" id="c4"></ion-col>
          <ion-col class="case" id="d4"></ion-col>
          <ion-col class="case" id="e4"></ion-col>
          <ion-col class="case" id="f4"></ion-col>
          <ion-col class="case" id="g4"></ion-col>
          <ion-col class="case" id="h4"></ion-col>
          <ion-col class="case" id="i4"></ion-col>
          <ion-col class="case" id="j4"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">5</ion-col>
          <ion-col class="case" id="a5"></ion-col>
          <ion-col class="case" id="b5"></ion-col>
          <ion-col class="case" id="c5"></ion-col>
          <ion-col class="case" id="d5"></ion-col>
          <ion-col class="case" id="e5"></ion-col>
          <ion-col class="case" id="f5"></ion-col>
          <ion-col class="case" id="g5"></ion-col>
          <ion-col class="case" id="h5"></ion-col>
          <ion-col class="case" id="i5"></ion-col>
          <ion-col class="case" id="j5"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">6</ion-col>
          <ion-col class="case" id="a6"></ion-col>
          <ion-col class="case" id="b6"></ion-col>
          <ion-col class="case" id="c6"></ion-col>
          <ion-col class="case" id="d6"></ion-col>
          <ion-col class="case" id="e6"></ion-col>
          <ion-col class="case" id="f6"></ion-col>
          <ion-col class="case" id="g6"></ion-col>
          <ion-col class="case" id="h6"></ion-col>
          <ion-col class="case" id="i6"></ion-col>
          <ion-col class="case" id="j6"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">7</ion-col>
          <ion-col class="case" id="a7"></ion-col>
          <ion-col class="case" id="b7"></ion-col>
          <ion-col class="case" id="c7"></ion-col>
          <ion-col class="case" id="d7"></ion-col>
          <ion-col class="case" id="e7"></ion-col>
          <ion-col class="case" id="f7"></ion-col>
          <ion-col class="case" id="g7"></ion-col>
          <ion-col class="case" id="h7"></ion-col>
          <ion-col class="case" id="i7"></ion-col>
          <ion-col class="case" id="j7"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">8</ion-col>
          <ion-col class="case" id="a8"></ion-col>
          <ion-col class="case" id="b8"></ion-col>
          <ion-col class="case" id="c8"></ion-col>
          <ion-col class="case" id="d8"></ion-col>
          <ion-col class="case" id="e8"></ion-col>
          <ion-col class="case" id="f8"></ion-col>
          <ion-col class="case" id="g8"></ion-col>
          <ion-col class="case" id="h8"></ion-col>
          <ion-col class="case" id="i8"></ion-col>
          <ion-col class="case" id="j8"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">9</ion-col>
          <ion-col class="case" id="a9"></ion-col>
          <ion-col class="case" id="b9"></ion-col>
          <ion-col class="case" id="c9"></ion-col>
          <ion-col class="case" id="d9"></ion-col>
          <ion-col class="case" id="e9"></ion-col>
          <ion-col class="case" id="f9"></ion-col>
          <ion-col class="case" id="g9"></ion-col>
          <ion-col class="case" id="h9"></ion-col>
          <ion-col class="case" id="i9"></ion-col>
          <ion-col class="case" id="j9"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="case-num">10</ion-col>
          <ion-col class="case" id="a10"></ion-col>
          <ion-col class="case" id="b10"></ion-col>
          <ion-col class="case" id="c10"></ion-col>
          <ion-col class="case" id="d10"></ion-col>
          <ion-col class="case" id="e10"></ion-col>
          <ion-col class="case" id="f10"></ion-col>
          <ion-col class="case" id="g10"></ion-col>
          <ion-col class="case" id="h10"></ion-col>
          <ion-col class="case" id="i10"></ion-col>
          <ion-col class="case" id="j10"></ion-col>
        </ion-row>
</ion-grid>
