<app-menu></app-menu>
<ion-grid>

  <ion-row>
    <ion-col style="border:none">
      <ion-button color="secondary" shape="round" value="1" (click)="switch(1)">Human</ion-button>
    </ion-col>

    <ion-col style="border:none">
      <ion-button color="secondary" shape="round" value="2" (click)="switch(2)">Vyrkul Collective</ion-button>
    </ion-col>

    <ion-col style="border:none">
      <ion-button color="secondary" shape="round" value="3" (click)="switch(3)">Arash Enclave</ion-button>
    </ion-col>

    <ion-col style="border:none">
      <ion-button color="secondary" shape="round" value="4" (click)="switch(4)">Enkar Republic</ion-button>
    </ion-col>
    <ion-col style="border:none">
      <ion-button color="secondary" shape="round" value="5" (click)="switch(5)">Sunari Matriarchate</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <br>
  <!--test-->
  <!--Human-->
  <div *ngIf="exists===1" class="flex">
    <ion-card>
      <img src="../../assets/persos/human.jpg" width="600" height="775"/>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Information</u></h1></ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <h2>Ce clan possède des compétences d'attaques et de défenses puissantes mais en faible quantité,<br>
          possédant des armes destructrices et une grande portée d'action. <br>Ce clan est faible en début de partie mais puissant en fin
        </h2>

      </ion-card-content>

      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Armes</u></h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/weapons/Hbomb.png"><h3>Bombe H : Détruit instantanement le vaisseau adversive si vous le touchez<br> (vous en avez 1 )</h3><br>
        <img src="assets/weapons/VLaser.png"><h3>Laser Vertical : Tire un laser sur une Colonne entière<br> (vous en avez 1 )</h3><br>
        <img src="assets/weapons/selfDestruct.png"><h3>Auto-Destruction : si votre vaisseau n'a plus qu'une case, alors vous pouvez l'auto detruire, <br>ce qui entrainera un tir a cette emplacement<br> (vous en avez 2 )</h3><br>
        <img src="assets/weapons/IEM.png"><h3>IEM : si un vaisseau adverse est touché, consomme un pouvoir de l'adversaire (1 fois) <br> (vous en avez 1 )</h3><br>
      </ion-card-content>
    </ion-card>
  </div>

  <!--Vyrkul Collective-->
  <div  *ngIf="exists===2" class="flex">
    <ion-card>
      <img src="./assets/persos/vyrkul.jpg"  width="550" height="800"/>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Information</u></h1></ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <h2>Vous possédez tout types de compétences :<br>
          Prise d'information, dégats et une protection puissante mais courte<br>
          à vous de faire les bons choix durant vos batailles.</h2>

      </ion-card-content>

      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Armes</u></h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="./assets/weapons/HLaser.png"><h3>Laser Horizontal : Tire un laser sur une ligne entière<br> (vous en avez 1 )</h3><br>
        <img src="./assets/weapons/immune.png"><h3>Invincibilité : rend invincible un vaisseau de votre choix<br> (vous en avez 1 )</h3><br>
        <img src="./assets/weapons/fragBomb.png"><h3>Bombe Frag : <table>
        <tr>
          <td></td>
          <td>x</td>
          <td></td>
        </tr>
        <tr>
          <td>x</td>
          <td>x / Clic</td>
          <td>x</td>
        </tr>
        <tr>
          <td></td>
          <td>x</td>
          <td></td>
        </tr></table><br> (vous en avez 3 )</h3><br>
        <img src="./assets/weapons/sonar.png"><h3>Sonar : indique les enemies, autours du clic, rayon de 9 blocs <br> (vous en avez 2 )</h3><br>
      </ion-card-content>
    </ion-card>
  </div>

  <!--Arash Enclave-->
  <div *ngIf="exists===3" class="flex">
    <ion-card>
      <img src="./assets/persos/arash.jpg" width="550" height="800" />
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Information</u></h1></ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <h2>L'attaque et la prise d'information sont vos atouts, l'anneau de feu sera votre meilleur arme <br>
          Vous posséderez un bouclier qui devra être utilisez intelligement </h2>

      </ion-card-content>

      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Armes</u></h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="./assets/weapons/firering.png"><br><table>
        <tr>
          <td></td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td></td>
        </tr>
        <tr>
          <td>x</td>
          <td></td>
          <td></td>
          <td></td>
          <td>x</td>
        </tr>
        <tr>
          <td>x</td>
          <td></td>
          <td>Clic</td>
          <td></td>
          <td>x</td>
        </tr>
        <tr>
          <td>x</td>
          <td></td>
          <td></td>
          <td></td>
          <td>x</td>
        </tr>
        <tr>
          <td></td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td></td>
        </tr>
      </table>Anneau de feu : (vous en avez 3 )<br><br>
        <img src="./assets/weapons/sonar.png"><h3>Radar :Si le tire touche un vaisseau, alors celui-ci est marqué et sera visible<br> (vous en avez 2 )</h3><br>
        <img src="./assets/weapons/thermicShield.png"><h3>Bouclier Thermique : si vous selectionnez la case où le tire adverse à eu lieu, alors vous êtes protéger<br> (vous en avez 3 )</h3><br>
        <img src="./assets/weapons/sonar.png"><h3>Sonar : indique les enemies, autours du clic, rayon de 9 blocs <br> (vous en avez 1 )</h3><br>
      </ion-card-content>
    </ion-card>
  </div>

  <!--Enkar Republic-->
  <div *ngIf="exists===4" class="flex">
    <ion-card>
      <img src="./assets/persos/enkar.jpg" width="550" height="750" />
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Information</u></h1></ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <h2>Le vole et la destruction sont leurs atouts <br> prêt à tout pour gagner, ils peuvent même se suicider <br>pour emporter leurs adversaires dans leur tombe.<br> Ils sont cependant facile à détruire</h2>

      </ion-card-content>

      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Armes</u></h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="./assets/weapons/torpedo.png"><h3>Torpille : Détruit instantanement le vaisseau adversive si vous le touchez<br> (vous en avez 2 )</h3><br>
        <img src="./assets/weapons/thief.png"><h3>Voleur : Peut copier une capacité de l'adversaire et la supprime de son deck<br> (vous en avez 1 )</h3><br>
        <img src="./assets/weapons/selfDestruct.png"><h3>Auto-destruction : si votre vaisseau n'a plus qu'une case, alors vous pouvez l'auto detruire,<br> ce qui entrainera un tir a cette emplacement<br> (vous en avez 2 )</h3><br>
        <img src="./assets/weapons/immune.png"><h3>Invincibilité :rend invincible un vaisseau de votre choix <br> (vous en avez 1 )</h3><br>
      </ion-card-content>
    </ion-card>
  </div>

  <!--Sunari Matriarchate-->
  <div *ngIf="exists===5" class="flex">
    <ion-card >
      <img src="./assets/persos/sunari.jpg" width="550" height="750" />
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Information</u></h1></ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <h2>Que de l'attaque, aucune défense. Si vous les affrontez, <br>vous les trouverez facilement mais ils vous feront de lourds dégats</h2>

      </ion-card-content>

      <ion-card-header>
        <ion-card-title><h1 class="flex"><u>Armes</u></h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="./assets/weapons/Hbomb.png"><h3>Bombe H :Détruit instantanement le vaisseau adversive si vous le touchez<br> (vous en avez 1 )</h3><br>
        <img src="./assets/weapons/VLaser.png"><h3>Laser vertical : Tire un laser sur une Colonne entière<br> (vous en avez 1 )</h3><br>
        <img src="./assets/weapons/HLaser.png"><h3>Laser horizontal : Tire un laser sur une Ligne entière<br> (vous en avez 1 )</h3><br>
        <img src="./assets/weapons/badShooter.png"><h3>Mauvais tireur : tant que vous ne touchez pas votre cible, vous pouvez continuer de tirer<br> (vous en avez 2 )</h3><br>
      </ion-card-content>
    </ion-card>
  </div>


</ion-grid>
