#grid ion-col{
  width:70px;
  height:70px;
}

#grid {
  width:780px;
}

ion-col{
  border: solid 1px white;
  text-align:center;
}

[mwlDraggable] {
  display: inline;
  z-index: 2;
  cursor: move;
  border: 1px white solid;
  width:auto;
  height:auto;
}

[mwlDroppable] {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#selected{
  border: solid 5px white;
  margin:0;
  ion-icon{
    filter: drop-shadow(0 0 0.75rem rgb(243, 153, 24));
  }
}

.direction{
  margin: 4px;
}

.right{
  transform: rotate(90deg);
}

.down{
  transform: rotate(180deg);
}

.left{
  transform: rotate(270deg);
}

.imgInGrid{
  max-width:none; width:70px; height:70px; margin-top:4px;
}
